$blue: #3B82F6;
$blue-dark: #2563EB;

$red: #EF4444;
$red-dark: #DC2626;

$green: #10B981;
$green-dark: #059669;

$yellow: #FBBF24;
$yellow-dark: #F59E0B;

// after this line colors in not theme
$gray: #6B7280;
$gray-dark: #4B5563;

$dark: #1E293B;
$dark-light: #334155;

$light: #F8FAFC;
$light-dark: #E2E8F0;